body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(aliceblue, rgb(168, 148, 177))
}
h1 {
    padding-top: 30px;
    color: rgb(158, 119, 176);
    font-size: 50px;
    font-weight: 100px;
}

.des {
    position:sticky;
    margin: auto;
    width: 1000px;
    padding-bottom: 30px;
    max-width: fit-content;

}

h3 {
    font-size: 25px;
}
.bar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-color: rgba(170, 140, 183, 0.582);
    background-blend-mode: darken;
    color:white;
    padding: auto;
    max-width: 100%;
    margin: auto;
    width: 600px;
    border-radius: 30px;
    
}

.wpList {
    display: flex;
    list-style: none;
    color:white;
    align-self: center;
    font-weight: 1000;
}

a {
    color: white;
}

a:visited {
    color:  white;
}

a:hover {
    color: rgb(79, 6, 111);
}

a:active {
    color:  white;
}

.wpList li {
    margin: 20px 100px 20px 50px;

}